##最外层结构固定，必有
#set($renderMode=1)
<div class="lequ-component lequ-comId$!{componentBizData.comId} com-$!{componentBizData.comId}" lequ-comId="$!{componentBizData.comId}" lequ-temComRelId="$!{componentBizData.temComRelId}" lequ-pageTemRelId="$!{componentBizData.pageTemRelId}">
    ##componentBizData.pageTemRelId   页面模板关联关系id
    ##componentBizData.temComRelId 模板组件关联关系id
    ##componentBizData.comId  组件id
    #if($!{renderMode}==1)
        <style>
            .lequ-error{
                height: 50px;
                margin: 0 auto;
                text-align: center;
                line-height: 15px;
                background-color: #000;
                color: red;
                font-size: 18px;
                padding-top: 25px;

            }
        </style>
        <div class="lequ-content">
            <div class="lequ-error">测试组件</div>
            <div class="lequ-btn js-change-color">修改背景颜色</div>
        </div>
    #else
        #set($zwStyle = "margin:auto;width:1105px;height:" + $!{customBizData.heightZW}+"px")
        <div>
            #if($!{customBizData.heightZW}==50||!$!{customBizData.heightZW})
                <div style="margin:auto;width:1105px;height:50px"></div>
            #end
            #if($!{customBizData.heightZW}!=50)
                <div class="showZW" style=$!{zwStyle}></div>
            #end
        </div>
    #end
    <script type="text/javascript" src="javascripts/changeColor.js"></script>
</div>
